<div class="ui fixed inverted menu">
	<div class="ui container">
    	<a href="/" class="header item">Bob's Store</a>
    	<a href="/products" class="item">Products</a>
    	<a href="/about" class="item">About</a> 
    </div>
</div>