<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
	<% include ./partials/header.ejs %>

	<div class="ui main text container">
		<h1 class="ui header">Payments test</h1>

		<a href="/products">products</a>
	</div>

	<% include ./partials/footer.ejs %>

</body>
</html>